<!DOCTYPE html>
<html>
<head>
	<title>Student Details</title>
	<style type="text/css">
		#tu
		{
			background-color: black;
			color: white;
			margin-right: 30%;
			margin-left: 30%;
			padding:9px;
			margin-top:1px;
		}
		h3
		{
			background-color: red;
			color:blue;
			padding:9px;
			margin-right: 30%;
			margin-left: 30%;
		}
		.up
		{
			background-color: cadetblue;
			color:red; 
		}
	</style>
</head>
<body>
<h2 class="up" style="background-color: green;color:white;padding:7px;margin-top:50px;margin-left:30%;margin-right:30%;font-style: italic;">Your name is: {{name}}</h2>
<h3 class="up" id="tu">Your id is: {{id}}</h3>
<h3 class="up">Your age is: {{age}}</h3>
</body>
</html>
