{% extends 'userapp/header.html' %}
{% block title %}Registration{% endblock title %}

{% block content %}
<div class="container">
	<div class="jumbotron col-md-6" style="margin: auto;margin-top:20px;">
		<h3> Register </h3>
		<form method="POST" action="#">
			<input type="text" name="uname" class="form-control col-md-10" placeholder="Enter Username"><br/>
			<input type="password" name="pwd" class="form-control col-md-10" placeholder="Enter Password"><br/>
			<input type="submit" class="btn btn-success" value="Submit">
		</form>
	</div>
</div>
{% endblock content %}